body {
    background: #f3f6f9;
}

.sia-logo {
    width: 2.5rem;
    margin: 0 .5rem;
}
.fade {
    &.in {
        opacity: 1 !important;
    }
}
/* Mobile Style */
@media only screen and (max-width: 425px) {
    .sia-logo {
        width: 3.5rem;
        margin: 0 auto;
        display: block;
        margin-bottom: 1rem;
    }
}

// AdminLTE
.brand-link {
    .brand-image {
        height: 33px;
    }
}
.nav-legacy {
    &.nav-sidebar {
        > {
            .nav-item {
                .nav-treeview {
                    .nav-item {
                        position: relative;

                        &.active {
                            &::before {
                                position: absolute;
                                content: "";
                                top: 0;
                                left: 0;
                                height: 100%;
                                border-left: 3px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Card
.card {
    .card-header {
        display: flex;
        align-items: center;

        .card-tools {
            margin-left: auto;
        }
    }
}